body {
  background-color: #eee;
}
.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 200px;
    height: 150px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;

}

img.profile-image {
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    height : 40px;
    width:40px;
}
